<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="styles/foundation.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/body.css">
    <link rel="stylesheet" href="styles/sign_in_sign_up.css"> 
<!--    <link rel="stylesheet" href="styles/footer.css">-->
    <!-- endbuild -->
  </head>
  <body ng-app="pssdashApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
  <div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#/#"><span>Menu</span></a></li>
    </ul>
    <div class="logo">
      <a href="#/"><img src="images/logo-small.png"></a>
    </div>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
          
            <li ng-if="user" class="has-dropdown">
              <a href="#">{{user.full_name}}</a>
              <ul class="dropdown">
                <li><a href="#">Profile</a></li>
                <li ng-if="user" > <a href="/#/logout">Logout</a></li>
              </ul>
            </li>
          
            <li class="has-dropdown">
              <a href="#/tasks">BAU</a>
              <ul class="dropdown">
                <li><a href="#/tasks">Task List</a></li>
                <li ><a href="#/ssls">SSL Renewal</a></li>
              </ul>
            </li>
          
          <li ng-if="!user"><a href="#/login">Login</a></li>
          <li ng-if="!user"><a href="#/signup">Sign Up</a></li>

      </ul>

    </section>
  </nav>
</div>

  <div class="row">
    <div class="small-2 medium-2 large-2 columns"></div>
    <div class="small-12 medium- 12 large-12 columns">

        <alert ng-if="code" data-alert class="alert-box">
            {{code}} : {{message}}
                <a class="close">&times;</a>
        </alert>
        
     <div class="container">
    <div ng-view=""></div>
    </div>

    </div>
    <div class="small-2 medium-2 large-2 columns"></div>
  </div>



<!--
<footer class="footer">
  <div class="row">
      <div class="small-6 medium-6 large-3 columns"><span>Home</span></div>
      <div class="small-6 medium-6 large-3 columns"><span>About</span></div>
      <div class="small-6 medium-6 large-3 columns"><span>FAQs</span></div>
      <div class="small-6 medium-6 large-3 columns"><span>Contact</span></div>
    <div class="small-12 medium-4 large-6 columns"><span>©eChannels PSS 2015</span></div>
    <div class="small-12 medium-4 large-6 columns right stamp"></div>
  </div>
</footer>
-->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="scripts/vendor/modernizr.js"></script>
    <script src="scripts/vendor/jquery.js"></script>
    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/angular-animate.js"></script>
    <script src="scripts/vendor/angular-aria.js"></script>
    <script src="scripts/vendor/angular-cookies.js"></script>
    <script src="scripts/vendor/angular-messages.js"></script>
    <script src="scripts/vendor/angular-resource.js"></script>
    <script src="scripts/vendor/angular-route.js"></script>
    <script src="scripts/vendor/angular-sanitize.js"></script>
    <script src="scripts/vendor/angular-touch.js"></script>
    <script src="scripts/vendor/fastclick.js"></script>
    <script src="scripts/vendor/jquery.cookie.js"></script>
    <script src="scripts/vendor/jquery.placeholder.js"></script>
    <script src="scripts/vendor/foundation.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
       
        <script src="scripts/app.js"></script>
      
        <script src="scripts/services/UserService.js"></script>
      
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/tasks/all.js"></script>
        <script src="scripts/controllers/tasks/new.js"></script>
        <script src="scripts/controllers/tasks/view.js"></script>

        <script src="scripts/controllers/ssls/all.js"></script>
        <script src="scripts/controllers/ssls/new.js"></script>
        <script src="scripts/controllers/ssls/view.js"></script>

        <script src="scripts/controllers/dashboard/current.js"></script>
        <script src="scripts/controllers/stat/test.js"></script>
        <script src="scripts/controllers/stat/test2.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/vendor/d3.v3.min.js"></script>
        <script src="scripts/vendor/jquery.min.js"></script>
<!--         <script src="scripts/vendor/stickyFooter.js"></script>-->
        <!-- endbuild -->
</body>
</html>
