<div class="row">
    <div class="small-2 medium-2 large-2 columns"></div>
    <div class="small-12 medium- 12 large-12 columns"><div class="center row">
  <div class="section-container tabs" data-section="tabs">
    <section>
      <p class="title" data-section-title><a href="#/change_password">Change Password</a></p>
      <div class="signin_content" data-section-content>
        <p>
        <div class="row">
          <div class="large-12 columns">
            <div class="signup-panel">
              

              <p>Change Password: {{change_password}}, Code: {{code}}, Message: {{message}}, Session: {{dashb_session}}</p>
              <form accept-charset="UTF-8" ng-submit="submitPost()">
                <div style="display:none" >
              </div>
                <div class="row collapse">
                  <div class="small-2 columns">
                    <span class="prefix"><i class="fi-lock"></i></span>
                  </div>
                  <div class="small-10  columns">
                    <input id="old_password" name="old_password" placeholder="Old Password" type="password" ng-model="change_password.old_password"/>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-2 columns ">
                    <span class="prefix"><i class="fi-lock"></i></span>
                  </div>
                  <div class="small-10 columns ">
                    <input id="new_password" name="new_password" placeholder="New Password" type="password" ng-model="change_password.new_password"/>
                  </div>
                </div>
                <button name="button" type="submit">Change Password</button>
                </form>
            </div>
          </div>
        </div></p>
      </div>
    </section>
  </div>
  <div>
</div>
</div></div>
    <div class="small-2 medium-2 large-2 columns"></div>
  </div>
